.track-list2 {
    list-style-position: outside;
    text-align: right;
    /*margin: auto;*/
    width: 30em;
    padding: 0;
}

.track-popularities {
    list-style-type: none;
    text-align: left;
    margin-left: 1%;
    /*margin: auto;*/
    padding: 0;
}

.track-name {
}
